<% layout('./layout/boilerplate') %>
<main class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <section class="px-3 border-start border-secondary">
      <p class="lead">
        Crafting Seamless Experiences: Bridging Functionality and User-Centric
        Design. <br />
        As a passionate full stack developer, I thrive on the art of enhancing
        user-centered interfaces with dynamic functionality.<br />
        Join me on a journey where every click, every interaction, is
        meticulously designed to create a smooth and engaging experience.
      </p>
    </section>
        <a class=" btn btn-dark icon-link icon-link-hover border" href="/projects">
            View Projects
        </a>
        <a class=" btn btn-dark icon-link icon-link-hover border" href="../files/OFFICIAL RESUME.docx">
            View Resume
        </a>
  </div>
</main>
