<% layout('./layout/boilerplate') %>
<main class="d-flex flex-column justify-content-evenly">
  <div class="row mb-4">
      <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card bg-dark text-light custom-card shadow-lg">
            <div class="card-body">
              <h5 class="card-title">YelpCamp</h5>
              <p class="card-text">This is a project that was built at the end of a 4-month course i took where i implemented MongoDB, NodeJS, ExpressJS and some other dependencies to achieve a fully functional website</p>
              <a href="https://yelpcamp-nkkt.onrender.com" target="_blank" class="btn btn-primary d-block">View YelpCamp</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card bg-dark text-light shadow-lg">
              <div class="card-body">
                <h5 class="card-title">HockeyPlayers Registration System</h5>
                <p class="card-text">This is a school project where C# functionality was used to create a program that generates hockey players while incorporating intelligent logic to ensure the prevention of duplicate player data.</p>
                <a href="https://github.com/Adeleye06/Hockey-Players" target="_blank" class="btn btn-primary d-block">View HockeyPlayers</a>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card bg-dark text-light shadow-lg">
            <div class="card-body">
              <h5 class="card-title">YelpCamp</h5>
              <p class="card-text">This is a project that was built at the end of a 4-month course i took where i implemented MongoDB, NodeJS, ExpressJS and some other dependencies to achieve a fully functional website</p>
              <a href="https://yelpcamp-nkkt.onrender.com" target="_blank" class="btn btn-primary d-block">View YelpCamp</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card bg-dark text-light shadow-lg">
              <div class="card-body">
                <h5 class="card-title">YelpCamp</h5>
                <p class="card-text">This is a project that was built at the end of a 4-month course i took where i implemented MongoDB, NodeJS, ExpressJS and some other dependencies to achieve a fully functional website</p>
                <a href="https://yelpcamp-nkkt.onrender.com" target="_blank" class="btn btn-primary d-block">View YelpCamp</a>
              </div>
            </div>
        </div>
    </div>
</main>